*.pyc
__pycache__/
.pytest_cache/
.venv/
venv/

pc_tool/data/
*.db
*.sqlite

firmware/**/build/
firmware/**/*.o
firmware/**/*.d
firmware/**/*.lst
firmware/**/*.elf
firmware/**/*.hex
firmware/**/*.bin
firmware/**/*.map

.vscode/.browse.c_cpp.db*
.DS_Store
Thumbs.db
